<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-bankid-login"
		version="1.0.0">

	<name>BankidLogin</name>

	<description>
		This plugin allows you to authenticate and identify users with bankid app.
	</description>

	<license>MIT</license>

	<engines>
			<engine name="cordova" version=">=6.0.0" />
	</engines>

	<js-module src="www/BankidLogin.js" name="BankidLogin">
			<clobbers target="plugins.bankidLogin" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
			<config-file target="config.xml" parent="/*">
				<feature name="BankidLogin">
						<param name="ios-package" value="BankidLogin" />
				</feature>
			</config-file>
			<header-file src="src/ios/BankidLogin.h" />
			<source-file src="src/ios/BankidLogin.m" />
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BankidLogin">
					<param name="android-package" value="se.strativ.bankidlogin.BankidLogin" />
			</feature>
		</config-file>
		<source-file src="src/android/BankidLogin.java" target-dir="src/se/strativ/bankidlogin" />
	</platform>
</plugin>
